<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DLO Explorer</title>
    <link rel="stylesheet" href="css/style.css">
    </link>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    </link>
    <link rel="stylesheet" href="themes/style.min.css">
    </link>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jstree.min.js"></script>
    <script src="js/sidemenu.js"></script>
    <div class="sidemenu">
        <div id="jstree"></div>
    </div>
    <div class="comment">
        <div class="commentData">Comment:</div>
        <textarea class="comment-textbox" id="comments-id"></textarea>
        <div id="using_json_2"></div>
        <button type="button" id="comments-submit-id" class="btn btn-primary comment-submit">Submit</button>
    </div>
    <script th:inline="javascript">
    var message = /*[[${messages}]]*/ 'default';
    $(document).ready(function() {
        $('#jstree').jstree({
            'core': {
                'data': message
            }
        });

        $('#jstree').on('changed.jstree', function(e, data) {
            var path = data.instance.get_path(data.node, '/');
            console.log('Selected: ' + path);
        })
    });
    </script>
</head>

<body>
</body>

</html>