@media print {
	#content, #page {
		width: 100%;
		margin: 0;
		float: none;
	}

	/** Seitenränder einstellen */
	@page {
		margin: 0.5cm;
	}
	body {
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}
	a {
		page-break-inside: avoid
	}
	blockquote {
		page-break-inside: avoid;
	}
	table, pre {
		page-break-inside: avoid
	}
	ul, ol, dl {
		page-break-before: avoid
	}

	/* Linkfarbe und Linkverhalten darstellen */
	a:link, a:visited, a {
		background: transparent;
		color: #520;
		font-weight: bold;
		text-decoration: underline;
		text-align: left;
	}
	a {
		page-break-inside: avoid
	}
	a[href^=http]:after {
		content: " <" attr(href) "> ";
	}
	$
	a:after>img {
		content: "";
	}
	article a[href^="#"]:after {
		content: "";
	}
	a:not (:local-link ):after {
		content: " <" attr(href) "> ";
	}

	/**
 * Eingebundene Videos verschwinden lassen und den Whitespace der iframes auf null reduzieren.
 */
	.embed-youtube, .embed-responsive {
		position: absolute;
		height: 0;
		overflow: hidden;
	}
	
	button {
		display: none;
	}
	
	th, tr, td {
		height : auto;
		vertical-align: top;
	}
	
	table table {
		border : none;
	}
	
	.form-control {
		height : auto;
	} 
	
	label {
		margin: 0 !important;
	}
	
	.adderess-table {
		height: 300pt !important;
		background-color: red !important;
	}
	
	.adderess-table input {
		height: 100%;
		margin: 0 !important;
	}

	
}